<html>
    <head>
        <title>
            asjk
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <% for(let i=0;i<10;i++) {%>
        <li>
            <%= i %>
        </li>
        <%} %>
        <% let i=0 %>
        <% while(i<5){ %>
        
            <p>Hello</p>
            <% i++ %>
        <%} %>    
        
    </body>
</html>